Flask>=1.1.2
Flask-Cors>=3.0.9
Flask-SQLAlchemy>=2.4.4
Flask-Uploads>=0.2.1
matplotlib>=2.1.2
numpy>=1.19.4
pandas>=0.22.0
Pillow>=5.0.0
scikit-learn>=0.19.1
scipy>=1.5.4
SQLAlchemy>=1.2.1
tqdm>=4.56.0
mysqlclient>=2.0.3
librosa
torch>=1.2.0
torchvision>=0.2.1
transformers
baidu-aip
torchsnooper
facenet_pytorch==0.4.0
